body {
  background-color: #fff;
  color: #000;
  font-size: 0.9em;
  font-family: sans-serif,helvetica;
  margin: 0;
  padding: 0;
}
:link {
  color: #0000FF;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0.6em 2em 0.4em;
  background-color: green;
  color: #ffffff;
  font-weight: normal;
  font-size: 4em;
  border-bottom: 2px solid #000;
}
.content {
  padding: 1em 5em;
}
img {
  border: 2px solid #fff;
  padding: 2px;
  margin: 2px;
}
a:hover img {
  border: 2px solid #3399FF;
}






.list {
  float:left;
  width:33%;
  text-align: center;
  font-size: large;
  font-weight: bold
}
.lists{
  height: 50%;
  padding-top: 50%;
  vertical-align: middle;
  background-image: url("intersection.png")
}
.graph {
  height: 50%
}
.fas {
  size: 50em
}
.main{
  height: 100%;
  width: 100%
}

/* body{
  margin: 0;
  padding: 0;
  display: block;
} */

html {
  display: block;
  color: -internal-root-color;
}