
<video id="myVideo" width=100% height=100% autoplay="1" ></video>
<button onclick="copyFrame()">静止画取得</button>
<canvas id="capture_image"></canvas>

<script type="text/javascript">
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || window.navigator.mozGetUserMedia;
window.URL = window.URL || window.webkitURL;

var video = document.getElementById('myVideo');
var localStream = null;
navigator.getUserMedia({video: true, audio: false}, 
    function(stream) { // for success case
    console.log(stream);
    video.srcObject = stream;
    },
    function(err) { // for error case
    console.log(err);
    }
);
function copyFrame() {
    var canvas_capture_image = document.getElementById('capture_image');
    var cci = canvas_capture_image.getContext('2d');
    var va = document.getElementById('myVideo');
    canvas_capture_image.width  = va.videoWidth;
    canvas_capture_image.height = va.videoHeight;
    cci.drawImage(va, 0, 0);  // canvasに『「静止画取得」ボタン』押下時点の画像を描画。

    var canvas = document.getElementById( "capture_image" );
    var dataURL = canvas.toDataURL() ;

    var form = document.createElement('form');
    var request = document.createElement('input');
    form.method = 'POST';
    form.action = '/post';
    request.type = 'hidden'; //入力フォームが表示されないように
    request.name = 'image';
    request.value = dataURL

    form.appendChild(request);
    document.body.appendChild(form);
    form.submit();
}

</script>


<!-- <form method="post" action="/send" enctype="multipart/form-data">
<input type="file" id="img_file" name="img_file" class="col-sm-4">
<input type="submit" value="送信" class="btn">
</form> -->

